<!DOCTYPE html>
<html>
  <head>
   
    <title>Chatt App</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  </head>
  <body>
    <h1>Chat App</h1>
    
    <form id='myForm'>
      <input type="text" name="uMessage"><br><br>
      <input type="submit" value="Submit">
    </form> 
    <button id='location_button'>Send Button</button>
    <div id='message'></div>

    <script src="./socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>